body{
  background-color: silver;
}
.content{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 40%;
    border-radius: 30px;
    padding: 4%;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}